<div class="grid__box">
  <%= image_tag project.image.url(:main), class: "grid__image" %>
  <%= link_to "javascript:void(0);", class: "grid__overlay", data: { modal: project.id } do %>
    <%= content_tag :h4, project.title %>
  <% end %>

  <% if project.project_slides.any? %>
    <div class="modal">
      <input class="modal__state" id="modal-<%= project.id %>" type="checkbox" />
      <div class="modal__overlay">
        <div class="modal__inner">
          <div class="modal__close" for="modal-<%= project.id %>"></div>

          <div class="modal-carousel">
            <%= render partial: "projects/modal_project", collection: project.project_slides, as: :project_slide %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
