<div id="main" class="main">
  <%= render "static/hero" %>
  <%= render "static/introduction" %>
  <%= render "static/team", team_members: @home.team_members %>
  <%= render "instagram", instagram_images: @home.instagram_images %>
  <%= render "static/contact" %>
</div>
