<div id="main" class="main">
  <%= render "static/hero" %>
  <%= render "static/introduction" %>
  <%= render "static/team", team_members: @home.team_members %>
  <section class="section">
    <div class="grid">
      <div class="grid__box">
        <%= image_tag "//placehold.it/800x800", class: "grid__image" %>
        <%= link_to "javascript:void(0);", class: "grid__overlay", data: { slide: 0 } do %>
          <%= content_tag :h4, "Project title" %>
        <% end %>
      </div>
      <div class="grid__box">
        <%= image_tag "//placehold.it/800x800", class: "grid__image" %>
        <%= link_to "javascript:void(0);", class: "grid__overlay", data: { slide: 1 } do %>
          <%= content_tag :h4, "Project title" %>
        <% end %>
      </div>
      <div class="grid__box">
        <%= image_tag "//placehold.it/800x800", class: "grid__image" %>
        <%= link_to "javascript:void(0);", class: "grid__overlay", data: { slide: 2 } do %>
          <%= content_tag :h4, "Project title" %>
        <% end %>
      </div>
      <div class="grid__box">
        <%= image_tag "//placehold.it/800x800", class: "grid__image" %>
        <%= link_to "#", class: "grid__overlay" do %>
          <%= content_tag :h4, "Project title" %>
        <% end %>
      </div>
      <div class="grid__box">
        <%= image_tag "//placehold.it/800x800", class: "grid__image" %>
        <%= link_to "#", class: "grid__overlay" do %>
          <%= content_tag :h4, "Project title" %>
        <% end %>
      </div>
      <div class="grid__box">
        <%= image_tag "//placehold.it/800x800", class: "grid__image" %>
        <%= link_to "#", class: "grid__overlay" do %>
          <%= content_tag :h4, "Project title" %>
        <% end %>
      </div>
    </div>

    <div class="modal">
      <input class="modal__state" id="modal" type="checkbox" />
      <div class="modal__overlay">
        <div class="modal__inner">
          <div class="modal__close" for="modal"></div>

          <div class="split-carousel">
            <div class="split-carousel__slide">
              <div class="split-carousel__image" style="background-image: url(//placehold.it/720x810)"></div>
              <div class="split-carousel__copy">
                <%= content_tag :h4, "Title" %>
                <p>Copy</p>
              </div>
            </div>
            <div class="split-carousel__slide">
              <div class="split-carousel__image" style="background-image: url(//placehold.it/720x810)"></div>
              <div class="split-carousel__copy">
                Hello
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <%= render "static/process" %>
  <section class="section">
    <div class="grid">
      <div class="grid__box">
        <%= image_tag "//placehold.it/800x800", class: "grid__image" %>
        <%= link_to "#", class: "grid__overlay" do %>
          <%= content_tag :h4, "Project title" %>
        <% end %>
      </div>
      <div class="grid__box">
        <%= image_tag "//placehold.it/800x800", class: "grid__image" %>
        <%= link_to "#", class: "grid__overlay" do %>
          <%= content_tag :h4, "Project title" %>
        <% end %>
      </div>
      <div class="grid__box">
        <%= image_tag "//placehold.it/800x800", class: "grid__image" %>
        <%= link_to "#", class: "grid__overlay" do %>
          <%= content_tag :h4, "Project title" %>
        <% end %>
      </div>
    </div>
  </section>
  <%= render "static/quote" %>
  <section class="section">
    <div class="grid">
      <div class="grid__box">
        <%= image_tag "//placehold.it/800x800", class: "grid__image" %>
        <%= link_to "#", class: "grid__overlay" do %>
          <%= content_tag :h4, "Project title" %>
        <% end %>
      </div>
      <div class="grid__box">
        <%= image_tag "//placehold.it/800x800", class: "grid__image" %>
        <%= link_to "#", class: "grid__overlay" do %>
          <%= content_tag :h4, "Project title" %>
        <% end %>
      </div>
      <div class="grid__box">
        <%= image_tag "//placehold.it/800x800", class: "grid__image" %>
        <%= link_to "#", class: "grid__overlay" do %>
          <%= content_tag :h4, "Project title" %>
        <% end %>
      </div>
    </div>
  </section>
  <%= render "instagram", instagram_images: @home.instagram_images %>
  <%= render "static/blog" %>
  <%= render "static/contact" %>
</div>
