<div id="main" class="main">
  <%= render "static/hero" %>
  <%= render "static/introduction" %>
  <%= render "static/team", team_members: @home.team_members %>
  <%= render "static/projects", projects: @home.timberworks, modal_name: "timberworks" %>
  <%= render "static/process" %>
  <%= render "static/projects", projects: @home.passiveworks, modal_name: "passiveworks" %>
  <%= render "static/quote" %>
  <%= render "static/projects", projects: @home.bespoke, modal_name: "bespoke" %>
  <%= render "static/news", blogs: @home.blogs, instagram_images: @home.instagram_images %>
  <%= render "static/contact" %>
</div>
