<header class="navigation" role="banner">
  <div class="navigation-wrapper">
    <a href="javascript:void(0)" class="mobile-logo">
      <%= image_tag "menu-logo.svg" %>
    </a>
    <a href="javascript:void(0)" id="js-navigation-mobile-menu" class="navigation-mobile-menu">
      <%= image_tag "menu-icon.svg" %>
    </a>
    <nav role="navigation">
      <ul id="js-navigation-menu" class="navigation-menu">
        <li class="nav-link"><%= link_to "Timberworks", root_path(anchor: "timberworks") %></li>
        <li class="nav-link"><%= link_to "Passiveworks", root_path(anchor: "passiveworks") %></li>
        <li class="nav-link"><%= link_to "Bespoke", root_path(anchor: "bespoke") %></li>
        <li class="nav-link"><%= link_to "News", root_path(anchor: "news") %></li>
        <li class="nav-link"><%= link_to "Contact", root_path(anchor: "contact") %></li>
      </ul>
    </nav>
  </div>
</header>
